@import '../../styles/vars.scss';

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    padding: 8px 16px;
    background-color: rgba($mainColor, .9);
    border-radius: 0 0 8px 0;
    z-index: 100;
    
    .steps {
        text-align: left;
    }
}